* {
    box-sizing: border-box;
    background-color: black;
}

.container #top {
    display: flex;
    flex-direction: row;
    background-color: blue;
    /* border: 4px solid red; */
    height: min-content;
    margin: 80px;
}

#slogan {
    font-size: 40px;
    color: gold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid hotpink;
    background-color: peachpuff ;
    margin-bottom: 60px;
    padding: 15px;
    width: 400px;
    height: 650px;
    border-radius: 5%;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 4px solid violet; */
    background-color: black;
    color: green;
    font-size: 52px;
    font-family: 'Calculator', sans-serif;   
    text-align: end;
    font-weight: bold;
    margin: 5px;
    padding-right: 30px;
    padding-top: 25px;
    height: 120px;
    border-radius: 5%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    background-color: peachpuff ;
    border: 2px solid transparent;
    margin: 5px;
    margin-top: 20px;
}

.firstRow {
    display: flex;
    justify-content: end;
    margin-right: 5px;
    background-color: peachpuff ;

}

.firstRow div {
    background-color: peachpuff;
}

.otherRows {
    background-color: peachpuff;
}

.otherRows div {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: peachpuff ;
}

.buttons-container button {
    background-color: lightyellow;
    color: black;
    font-size: 32px;
    font-weight: bold;
    width: 80px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 5%;
}

.row1 button {
    margin-right: 1px;
    background-color: fuchsia;
}

#addition, #substraction, #multiplication, #division {
    background-color: orange;
}

#equal {
    background-color: orangered;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 4px solid black;
    width: 400px;
    height: 150px;
    margin-left: 40px;
    margin-bottom: -40px;
}

.scoreboard div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    width: 175px;
}

